@page
@model CRMProject.Pages.Customers.index
@{
    ViewData["Title"] = "Customer list";
}

<h1>@ViewData["Title"]</h1>

<div> 
    <table class="table"> 
        <thead> 
            <tr> 
                <th>Id</th> 
                <th>Name</th> 
                <th>Email</th> 
                <th>Phone</th> 
            </tr> 
        </thead> 
        <tbody> 
            @foreach (var customer in Model.listCustomers) 
            { 
                <tr> 
                    <td>@customer.Id</td> 
                    <td>@customer.Name</td> 
                    <td>@customer.Email</td> 
                    <td>@customer.Phone</td> 
                    <td> 
                    <a href="/Customers/edit?id=@customer.Id" class="btn btn-primary">Edit</a> 
                    <a href="/Customers/Delete?id=@customer.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr> 
            } 
        </tbody> 
    </table> 
</div> 